body {
	background: #000000;
	color: #ffffff;
	text-align:center;
	font-family:Helvetica;
	font-size:24px;
}

h1 {
	position: absolute; top: 11%; left:20%
	text-alighn: center;	
	border-style: solid;
	border-width: 10px;
	border-color: #fffffff;
	padding: 1%;
	width: 60%;
	height:19%;
	margin:auto;
	font-size: 90px
}

p {
	position: absolute;
	right: 57%;
	top: 49%;
	font-size: 24px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

.topnav{
	position:fixed;
	top:0;
	background-color: #DDDDDD;
}

.topnav a {
	float:left;
	display:block;
	color:#001f3f;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size:20px;
}

.topnav a:hover {
	background-color: #001f3f;
	color: #DDDDDD;
}
